.expandable {
  /* width: 100%; */
  color: #8c45cf;
  overflow: visible;
  position: relative;
  background: #FDFAFF;
  z-index: 100;
}

.expanded {
  transition: all 1s ease-out;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 1rem 1rem 1rem;
  border-radius: 8px;
  border: 1px solid #D7ADFF;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
}

.content_wrapper.expanded {
  height: auto;
}

.header {
  padding: 0 5px;
  height: 100%;
}

.dropdown_input_wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.content {
  padding-top: 6px;
  height: 0px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.content.expanded {
  height: auto;
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}
